* {
  margin: 0;
  padding: 0;
  outline: none;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation__item:hover {
  background-color: #643a79;
}

.footer {
  padding: 45px 0;
  background-color: #344b8e;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__item {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.48px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__item:hover {
  color: #30bae7;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}

.container {
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.36px;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-top: 60px;
}

.subdescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 25px;
}

.line {
  height: 4px;
  width: 85px;
  margin: 20px auto;
  background-color: #fff;
}

.banner {
  text-align: center;
  padding: 55px 0 145px 0;
  background-color: #87509c;
}

.banner__title {
  max-width: 900px;
  margin: 140px auto 0 auto;
  line-height: 48px;
}

.banner__button {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  background-color: #eb7d4b;
  border: none;
  padding: 28px 70px 24px 70px;
  border-radius: 5px;
  color: #fff;
  margin-top: 50px;
}

.banner__button-line {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #c86a40;
  height: 4px;
  width: 100%;
}

.services {
  text-align: center;
  padding: 115px 0 125px 0;
  background-color: #17c2a4;
}

.services__line {
  background-color: #14a58b;
}

.services__description {
  max-width: 520px;
  margin: 0 auto;
}

.services__blocks {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__block {
  padding: 0 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.team {
  padding: 115px 0 125px 0;
  background-color: #e7f1f8;
  text-align: center;
  color: #3c4761;
}

.team__line {
  background-color: #bdd1df;
}

.team__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.team__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 25px;
}

.team__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #6b6464;
}

.team__subtitle {
  margin-top: 40px;
}

.team__status {
  font-size: 16px;
  font-weight: 400;
  color: #30bae7;
  line-height: 18px;
  letter-spacing: 0.32px;
}

.team__social-media {
  margin-top: 20px;
}

.team__icon {
  margin: 0 4px;
}

.skills {
  padding: 115px 0 125px 0;
  color: #3c4761;
  text-align: center;
}

.skills__line {
  background-color: #dfe8ed;
}

.skills__description {
  max-width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.skills__blocks {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.skills__subtitle {
  margin-top: 30px;
}

.portfolio {
  padding: 115px 0 125px 0;
  color: #393939;
  text-align: center;
  background-color: #ffdd99;
}

.portfolio__description {
  max-width: 515px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__buttons {
  margin-top: 40px;
}

.portfolio__button {
  margin: 0 5px;
  background-color: #ebcb8d;
  padding: 10px 21px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.portfolio__button:hover {
  background-color: #fff;
}

.portfolio__sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.portfolio__site {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 65px;
}

.portfolio__site--padding {
  padding: 0 30px;
}

.portfolio__image {
  width: 100%;
}

.portfolio__name-sites {
  font-size: 18px;
  font-weight: 400;
  color: #393939;
  line-height: 19.5px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  margin-top: 30px;
}

.portfolio__button-load {
  font-size: 18px;
  font-weight: 400;
  background-color: #17c2a4;
  border: none;
  border-radius: 5px;
  padding: 25px 55px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.27px;
  cursor: pointer;
  position: relative;
}

.portfolio__button-line {
  background-color: #14a58b;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about-us {
  background-color: #d74680;
  text-align: center;
  padding: 115px 0 125px 0;
}

.about-us__left, .about-us__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-us--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.about-us__left {
  padding-right: 100px;
}

.about-us__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-us__block--first {
  margin-bottom: 120px;
}

.about-us__block-image {
  width: 96px;
  height: 96px;
  background-color: #6d6c6c;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-us__image {
  width: 100%;
  height: 100%;
}

.about-us__subtitle {
  margin-top: 25px;
}

.about-us__text {
  margin-left: 50px;
}

.form {
  padding: 115px 0 125px 0;
  background-color: #3c5499;
  text-align: center;
}

.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}

.form__input {
  font-size: 16px;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  border: none;
  padding: 21px 0;
  text-indent: 20px;
  background-color: #273a71;
  line-height: 18px;
  color: #fff;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__input--left {
  margin-right: 1%;
}

.form__input--right {
  margin-left: 1%;
}

.form__textarea {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin-top: 25px;
  height: 200px;
  background-color: #273a71;
  border: none;
  text-indent: 20px;
  padding-top: 20px;
  color: #fff;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.form__line {
  background-color: #273a71;
}

.form__button {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 60px auto 0 auto;
  background-color: #30bae7;
  border: none;
  padding: 28px 84px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}

.form__button-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #299ec4;
}

@media only screen and (max-width: 1100px) {
  .services__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 100px;
  }
  .services__block:last-child {
    margin-bottom: 0;
  }
  .subtitle {
    margin-top: 30px;
  }
  .subdescription {
    margin-top: 10px;
    padding: 0 20px;
  }
  .team {
    padding-bottom: 65px;
  }
  .team__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0;
    margin-bottom: 60px;
  }
  .team__avatar {
    width: 100px;
    height: 100px;
  }
  .skills {
    padding-bottom: 65px;
  }
  .skills__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 100px;
  }
  .skills__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 60px;
  }
  .portfolio__site {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 70px;
  }
  .portfolio__image {
    width: 50%;
  }
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding-bottom: 55px;
  }
  .about-us__left, .about-us__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .about-us--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us__left {
    padding-right: 0;
  }
  .about-us__block--first {
    margin-bottom: 0;
  }
  .about-us__block {
    margin-bottom: 70px;
  }
  .skills__blocks {
    padding: 0;
  }
  .skills__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .banner__title {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 545px) {
  .portfolio__image {
    width: 100%;
  }
  .form__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .form__input:first-child {
    margin-bottom: 20px;
  }
  .form__input--left {
    margin-right: 0;
  }
  .form__input--right {
    margin-left: 0;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 16px;
  }
  .subtitle {
    font-size: 20px;
  }
  .subdescription {
    font-size: 14px;
  }
  .team__status {
    font-size: 14px;
  }
  .header--flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 437px) {
  .portfolio__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__button {
    margin-bottom: 10px;
  }
  .portfolio__sites {
    margin-top: 40px;
  }
  .footer__item {
    font-size: 16px;
  }
}

@media only screen and (max-width: 424px) {
  .banner {
    padding-bottom: 70px;
  }
  .banner__title {
    margin-top: 50px;
  }
  .services {
    padding: 50px 0 70px;
  }
  .services__block {
    margin-bottom: 70px;
  }
  .team {
    padding: 50px 0 70px 0;
  }
  .team__blocks {
    margin-top: 50px;
  }
  .team__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }
  .skills {
    padding: 50px 0 40px 0;
  }
  .skills__blocks {
    margin-top: 50px;
  }
  .portfolio {
    padding: 50px 0 70px 0;
  }
  .navigation {
    display: none;
  }
  .title {
    font-size: 20px;
    line-height: 36px;
  }
  .description {
    font-size: 14px;
  }
  .form__button {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */