// Header

// Main colors
$blue-color: #3c4761;


// Background colors
$purple-bg-color: #87509c;
$green-bg-color: #17c2a4;
$orange-bg-color: #eb7d4b;
$blue-lite-bgcolor: #e7f1f8;
$skin-bg-color: #ffdd99;
$blue-bg-color: #3c5499;
$dark-blue-bg-color: #273a71;
$lite-blue-bg-color: #30bae7;
